
.mycontent{
  background-color: white;
  background-image: url('testimg.png');
  width: 200vw;
  height: 80vh;
  overflow: scroll !important;
}
.main2{
  bottom:0;
}

header.mymain{
  width: 100vw;
  position: fixed;

}
.mycontainer{
}
.my1{
  position: absolute;
  left: 100px;
  top: 200px;
  z-index: 999;
  color:#666;
}
.my2{
  position: absolute;
  left: 300px;
  top: 200px;
  z-index: 999;
  color:#666;

}
@media screen and (max-width: 630px) {
  .mycontainer{
    margin-left: inherit;
  }
  .mycontent{
    background-color: white;
    background-image: url('testimg.png');
    width: 200vw;
    height: 80vh;
    overflow-x: visible !important;
  }
  body{
    overflow-x:scroll;
  }
  header.mymain{
    position: fixed;

  }
  .pane-skinny-footer{
    width:200vw;
  }
  .pane-content{
    width: 90vw;
  }
  .navblock{
    display:none;
  }
  #hamburger{
    display: none;
  }
}
